@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --gray: #c9c8c7;
    --blue: #007bff;
    --orange: #ff7f00;
    --yellow: #ffff00;
    --font: "Outfit", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    animation: animate-fade 1s ease-in-out 0.7s backwards;
    background-color: #c1c8cb;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid black;
}

.navbar-brand {
    font-family: var(--font);
    font-weight: 900;
    padding-left: 10px;
}
#head {
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    gap: 10px;
    width: 100%; 
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
}
.sec-1 {
    border-bottom: 2px solid var(--gray);
}

.headtxt {
    flex: 1;
    padding: 10px;
    padding-left: 10px;
}

.headtxt h1 {
    font-size: 900; 
    margin-bottom: 10px;
}

.headtxt h5 {
    font-weight: 400; 
}

.headimg {
    flex: 1;
}

.headimg img {
    max-width: 100%;
    max-height: 100%; 
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover;
}


.form-control {
    max-width: 500px;
    border-radius: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
    max-width: 120px;
    border-radius: 60px;
    color: var(--white);
    background-color: var(--black);
}

.sec-1 {
    border-bottom: 2px solid var(--gray);
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.headtxt {
    padding: 10px;
    padding-left: 10px;
}

.headimg img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/* Category Section */
.sec-2 {
    border-bottom: 2px solid var(--gray);
    padding: 25px;
}

.sec-3 {
    border-bottom: 2px solid var(--gray);
    text-align: center;
    margin-top: 30px;
}

.card {
    border-width: 2px 2px 6px 2px;
    border-style: solid;
    border-color: black;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 10px;
    text-align: center;
}

.card-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    border-top: 2px solid black;
}

@media (max-width: 600px) {
    #head {
        flex-direction: column;
    }
    .headimg, .headtxt {
        width: 100%;
    }
}
